.dart_tool/
.packages
.pub/
build/
coverage/
.idea/
.vscode/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.metadata
android/.gradle/
android/local.properties
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
