# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
coverage/

# Android local files
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# IDE and OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
